@mixin texto {
  font-family: "Kodchasan", system-ui;
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
}

@mixin paragrafo {
  font-family: "Kodchasan", system-ui;
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #efeef3;
}

header {
  width: 100vw;

  img {
    width: 100%;

    @media (max-width: 750px) {
      width: 0;
    }
  }

  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #efeef3;

      img {
        filter: none;
      }

      nav a {
        color: #000000;
      }
    }

    @media (max-width: 750px) {
      flex-direction: column;
      position: relative;
      background-color: #efeef3;
      gap: 30px;
    }

    img {
      width: 10%;
      filter: invert(1);

      @media (max-width: 750px) {
        width: 60%;
        filter: none;
      }
    }

    nav {
      width: 85%;

      @media (max-width: 750px) {
        width: 100%;
      }

      ul {
        display: flex;
        justify-content: space-between;

        @media (max-width: 750px) {
          flex-direction: column;
          text-align: center;
          gap: 30px;
        }

        li {
          a {
            @include texto();
            font-size: 1.5rem;
            color: #efeef3;

            @media (max-width: 750px) {
              color: #000000;
            }

            @media (max-width: 1400px) {
              font-size: 1.2rem;
            }

            @media (max-width: 1125px) {
              font-size: 1rem;
            }

            @media (max-width: 935px) {
              font-size: 0.8rem;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

.sobre {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;

  @media (max-width: 750px) {
    flex-direction: column;
    width: 90%;
    gap: 30px;
  }

  img {
    width: 30%;

    @media (max-width: 750px) {
      width: 100%;
    }
  }

  div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media (max-width: 750px) {
      width: 95%;
      gap: 30px;
    }

    h2 {
      @include texto();

      @media (max-width: 750px) {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    p {
      @include paragrafo();
      width: 80%;
      text-align: center;

      @media (max-width: 750px) {
        width: 90%;
        gap: 30px;
      }
    }
  }
}

.produtos {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 750px) {
    flex-direction: column;
    width: 90%;
    gap: 30px;
  }

  h2 {
    @include texto();
    width: 40%;

    @media (max-width: 750px) {
      font-size: 1.2rem;
      font-weight: 500;
      width: 100%;
      text-align: center;
    }
  }

  div {
    width: 50%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 750px) {
      width: 70%;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
